.presetTipBtn.selectedBtn{
    color: red;
}
#customTipBtn.inactive{
    display: none;
}
#customTipInput.active{
    display: block;
}

#resetBtn{
    background-color: transparent;
    border: none;
}
#resetBtn.active{
    background-color: green;
}