.presetTipBtn.selectedBtn{
    color: var(--green-900);
    background-color: var(--green-400);
}
#customTipBtn.inactive{
    display: none;
}
#customTipInput.active{
    display: block;
}

#resetBtn{
    background-color: transparent;
    border: none;
}
#resetBtn.active{
    filter: none;
}

.textInput.error-state{
    border-color: var(--error-state-red);
}