@media(min-width: 0px){
	
}
body{
	width: 100%;
}
main{
	height: 100dvh;

	display: grid;
	grid-template-rows: 1fr 4fr;
	justify-content: center;
	align-items: center;

	background-color: var(--grey-200);
}
.calculatorContainer{
	width: 100%;
	background-color: var(--white);
}

#customTipInput{
	display: none;
}